.management-blog {
    position: relative;
    font-family: "Poppins", sans-serif;
    color: var(--navBg);
    font-size: 22px;
    margin: 50px 0;

}

.management-title-blog {
    font-weight: 700;
    letter-spacing: 0%;

}

.management-name {
    font-weight: 400;
    margin: 10px 0;
}

.management-hr {
    border: 1px solid var(--lawsColor);
}

.management-blog:last-child .management-hr {
    display: none;
}