:root {
    --managementTextColor: #7D7987;
    --menuColor: #8C8999;
    --dateColor: #585858;
    --navBg: #023460;
    --whiteColor: rgba(255, 255, 255, 1);
    --announcementColor: rgba(2, 52, 96, 1);
    --activeTitle: #C11E1E;
    --titleAnnouncement: #414242;
    --listBg: #FFFFFF;
    --listColor: #076BA9;
    --postSlideBg: #F3EFEF;
    --currentOffer: #505051;
    --currentOfferNumber: #000000;
    --auctionDate: #818385;
    --auctionDateRed: #EB0B0B;
    --auctionMore: #1E8FF2;
    --auctionLink: #063B8A;
    --newsContent: #393929;
    --newsDate: #7A7A7A;
    --allNewsBg: #FFFDFD;
    --footerBg: #00284B;
    --subMenuFooter: #FFEEC6;
    --footerMenu: #E8ECF1;
    --lawsColor: #299DF0;
    --lawBg: #EEF7FF;
    --allLotsSearch: #79868F;
    --singleNewsTitle: #063B8A;
    --announcementColor: #373838;


}